.sidenav {
    position: fixed;
    z-index: 99;
}

.sidenav__buttons {
    width: 0px;
    height: 60px;
    transition: 0.5s ease-in-out;
    background-color: #ffffff;
}

.sidenav__buttons.shown {
    width: 200px;
}

.hamburger {
    position: absolute;
    z-index: 9;
    background-color: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    width: auto;
    height: auto;
    font-size: 20px;
    left: 10px;
    text-align: left;
    padding: 0;
    top: 9px;
    transition: 0.5s ease-in-out;
}

.hamburger.shown {
    color: #000000;
}

.sidenav a {
    position: absolute;
}

.logo {
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    left: 40px;
    top: 9.499px;
    z-index: 9;
    transition: 0.5s ease-in-out;
}

.logo.shown {
    color: #000000;
}

.line {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    display: block;
}

.menu {
    width: 200px;
    height: 100vh;
    position: absolute;
    left: -200px;
    transition: 0.5s ease-in-out;
    background-color: #ffffff;
}

.menu.shown {
    left: 0px;
}

.sidenav__list {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidenav__item {
    font-size: 17px;
}

.sidenav__item span {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.sidenav__item a {
    text-decoration: none;
    color: #111;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.sidenav__item a:hover {
    background-color: #f0f0f0;
}