.video-preview {
    display: flex;
    flex-direction: column;
}

.video-preview__group {
    display: flex;
    flex-direction: column;
}

.video-settings {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-add {
    width: 900px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.form-add textarea{
    resize: none;
    height: 300px;
}

.form-add button {
    margin-right: auto;
    position: relative;
}

.video-title {
    width: 400px;
}

.video-text {
    margin: 0;
    font-size: 18px;
}