.video-preview {
    display: flex;
    flex-direction: column;
}

.video-preview__group {
    display: flex;
    flex-direction: column;
}

.video-settings {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-add {
    width: 900px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.form-add textarea{
    resize: none;
    height: 300px;
}

.form-add button {
    margin-right: auto;
    position: relative;
}

.video-title {
    width: 400px;
}

.video-text {
    margin: 0;
    font-size: 18px;
}

@media (max-width: 900px) {
    .form-add {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 769px) {
    .form-add {
        flex-direction: row;
    }
    .video-settings {
        margin: 0;
    }
}

@media (max-width: 417px) {
    .video-settings {
        width: 100%;
    }
    .video-settings input {
        width: 100%;
    }
}