.topNav {
    width: 100%;
    height: 60px;
    background-color: #30a5ff;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 100px;
    display: flex;
    position: absolute;
    right: 0;
}

.topNav-icon {
    display: none;
}

.topNav li {
    margin: 0;
    margin-left: 20px;
}

.topNav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}

.user img {
    float: left;
    padding-right: 5px;
}

.search {
    display: flex;
    align-items: center;
}

.search input,
.search form {
    margin: 0;
}

.search input {
    width: 300px;
}

.search__mobile-search {
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    border: none;
    display: none;
    outline: none;
}

@media (max-width: 1180px) {
    .topNav ul {
        margin-right: 15px;
    }
}

@media (max-width: 1005px) {
    .topNav {
        justify-content: flex-end;
    }
    .topNav ul {
        position: relative;
    }
}

@media (max-width: 792px) {
    .search__mobile-search {
        display: block;
    }
    .search {
        position: relative;
        left: 10px;
    }
    .search form {
        transition: 0.5s;
        width: 0px;
        overflow: hidden;
    }
    .search form.active {
        width: 200px;
    }
}

@media (max-width: 684px) {
    .search form.active {
        width: 100px;
    }
    .search {
        left: 0;
    }
    .topNav li {
        margin-left: 5px;
    }
}

@media (max-width: 566px) {
    .topNav li {
        display: flex;
        align-items: center;
    }
    .topNav-icon {
        display: block;
    }
    .topNav-text {
        display: none;
    }
}