.watch-video {
    width: 100%;
    height: 720px;
    background-color: #000000;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1296px) {
    .watch-video {
        height: auto;
    }
    #video {
        width: 100%;
        height: 100%;
    }
}

.watch-video__info {
    width: 1280px;
    margin: auto;
    height: 300px;
    position: relative;
    top: 60px;
}

.info__title {
    font-size: 24px;
    margin: 0;
}

.info__views {
    font-size: 20px;
    color: #1119;
    margin: 0;
}

.video__likes {
    float: right;
    position: relative;
    top: -28px;
}

.video__likes button {
    border: none;
    width: auto;
    padding: 0;
    margin: 0;
    font-size: 24px;
    margin-left: 20px;
}

.likes__amount {
    font-size: 20px;
    font-weight: normal;
}

.watch-video__info .line {
    display: block;
    position: relative;
    top: 10px;
}

.info__author {
    margin-top: 20px;
    width: 170px;
    height: 50px;
    display: flex;    
}

.author__avatar {
    padding-right: 10px;
}

.author__nick {
    font-weight: 500;
}

.author__user p {
    margin: 0;
}

.upload-date {
    position: relative;
    top: -5px;
    color: #1119;
    font-size: 1.3rem;
}

.info__description {
    margin-left: 58px;
    width: 650px;
}

.clicked-like {
    color: blue;
}

.clicked-dislike {
    color: red;
}

.watch-video__comments {
    margin-top: 25px;
}

.comments__amount {
    font-size: 18px;
}

.comments__add {
    display: flex;
}

.comments__form {
    margin-left: 20px;
    width: 100%;
}

.comments__form textarea {
    width: 100%;
    resize: none;
}

.comments__form button {
    float: right;
    margin-top: -10px;
}

.comments__all {
    display: flex;
    flex-direction: column-reverse;
}

.comments__comment {
    display: flex;
    margin-bottom: 35px;
}

.comment__content {
    margin-left: 15px;
}

.comment__content p {
    margin: 0;
}

.comment__author {
    font-weight: bold;
    font-size: 14px;
    color: #111111;
}